* {
    margin: 0;
    padding: 0;
}

span {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #fff;
}

.slider_wrapper .shadow i {
    display: none;
    font-style: normal;
}