.header {
    background-color: #24292e;
}
#wp{
    width: 1200px;
    margin: 0px auto;
}

.git_head {
    float: left;
}

.git_head img {
    width: 45px;
    height: 45px;
    margin-left: 335px;
    margin-top: auto;
}

.git_nav {
    height: 45px;
}

.git_nav nav {
    width: 1200px;
    margin: 0 auto;
}

.git_nav .git_nav_ul {
    list-style: none;
}


.git_nav_uli {
    float: left;
    margin-right: 20px;
    height: 45px;
    line-height: 45px;
}

.git_nav .git_nav_ul .git_nav_uli a {
    text-decoration: none;
}

.on {
    color: rgba(20, 70, 235, 0.507);
}

.home_bg {
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    opacity: 0.3;
}

.home_bg::before {
    content: "";
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 1;
}

.slider_wrapper {
    margin-top: 10px;
}

.slider_wrapper #shadow {
    position: absolute;
    z-index: 200;
    right: 10px;
    bottom: 12px;
}

.content_wrapper {
    width: 1300px;
    margin: 0 auto;
    overflow: hidden;
}

.slider_wrapper .content_wrapper .left {
    background-color: #fff;
    position: relative;
    float: left;
}


.slider_wrapper .content_wrapper .right {
    float: right;
    position: relative;
}

.current {
    background: #03a8b1;
}

.category{
    width: 1200px;
    margin: 10px auto;
}

.category .title
{
    color: #03a8b1;
    font-size: 24px;
    font-family: Arial;
}

